<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e1e867d0-fbb4-4d5e-bc2a-35d196724889/resourceGroups/empower-id-search_group/providers/Microsoft.Web/sites/empower-id-search</ResourceId>
    <ResourceGroup>empower-id-search_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://empower-id-search.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ffd587bb-9ebb-4f10-b226-b927e7d39afe</ProjectGuid>
    <PublishUrl>https://empower-id-search.scm.azurewebsites.net/</PublishUrl>
    <UserName>$empower-id-search</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>